* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, rgb(162, 167, 251), rgb(252, 180, 231) 40%, rgb(255, 219, 226));
  background-repeat: no-repeat;
  height: 100vh;
}


.score {
  background-color: rgb(244, 244, 244);
  border: 1px solid #7d7d7d;
  border-radius: 15px;
  padding: 5px 55px;
  margin: 10px;

}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: rgb(250, 232, 191);
  border-radius: 20px;
  padding: 8px;
  border: 7px solid rgb(249, 207, 67);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.563);

  & div {
    background-size: cover;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 1px solid rgba(236, 207, 141, 0.544);
    border-radius: 5px;
    box-shadow: inset 2px 3px 3px #fff;
  }
}

.red {
  background-image: url('/images/oso-gomoso.png');
}

.blue {
  background-image: url('/images/gomita-fruti.png');
}

.green {
  background-image: url('/images/gomita-verde.png');
}

.orange {
  background-image: url('/images/gomita-naranja.png');
}

.yellow {
  background-image: url('/images/gomita-rosqui.png');
}

.pink {
  background-image: url('/images/caramelo-rallado.png');
}

@media (max-width: 500px) {
  .app {
    margin-top: 2rem;
  }

  .board {
    margin-top: .5rem;

    & div {
      width: 37px;
      height: 37px;
    }
  }
}